*	text=auto

# The following file extensions should be treated as text files and use
# Windows style line endings
*.dbproj eol=crlf
*.sln eol=crlf
*.sql eol=crlf
*.txt eol=crlf
*.xaml eol=crlf
Properties/*.sql* eol=crlf

# Treat Microsoft Office Documents as Binary Files
*.accda binary
*.accdb binary
*.accdc binary
*.accde binary
*.accdp binary
*.accdr binary
*.accdt binary
*.accdu binary
*.acl binary
*.ade binary
*.adp binary
*.asd binary
*.cnv binary
*.crtx binary
*.doc binary
*.docm binary
*.docx binary
*.dot binary
*.dotm binary
*.dotx binary
*.grv binary
*.iaf binary
*.laccdb binary
*.maf binary
*.mam binary
*.maq binary
*.mar binary
*.mat binary
*.mda binary
*.mdb binary
*.mde binary
*.mdt binary
*.mdw binary
*.mpd binary
*.mpp binary
*.mpt binary
*.oab binary
*.obi binary
*.oft binary
*.olm binary
*.one binary
*.onepkg binary
*.ops binary
*.ost binary
*.pa binary
*.pip binary
*.pot binary
*.potm binary
*.potx binary
*.ppa binary
*.ppam binary
*.pps binary
*.ppsm binary
*.ppsx binary
*.ppt binary
*.pptm binary
*.pptx binary
*.prf binary
*.pst binary
*.pub binary
*.puz binary
*.rpmsg binary
*.sldm binary
*.sldx binary
*.slk binary
*.snp binary
*.svd binary
*.thmx binary
*.vdx binary
*.vrge08message binary
*.vsd binary
*.vss binary
*.vst binary
*.vsx binary
*.vtx binary
*.wbk binary
*.wll binary
*.xar binary
*.xl binary
*.xla binary
*.xlam binary
*.xlb binary
*.xlc binary
*.xll binary
*.xlm binary
*.xls binary
*.xlsb binary
*.xlsm binary
*.xlsx binary
*.xlt binary
*.xltm binary
*.xltx binary
*.xlw binary
*.xsf binary
*.xsn binary
