*	text=auto

# The following file extensions should be treated as text files and use
# Windows style line endings
*.Config	eol=crlf
*.Master	eol=crlf
*.XML		eol=crlf
*.xml		eol=crlf
*.asax		eol=crlf
*.asmx		eol=crlf
*.asp		eol=crlf
*.aspx		eol=crlf
*.cd		eol=crlf
*.cmd		eol=crlf
*.config	eol=crlf
*.cs		eol=crlf
*.cshtml	eol=crlf
*.csproj	eol=crlf
*.css		eol=crlf
*.edmx		eol=crlf
*.html		eol=crlf
*.js		eol=crlf
*.nuspec	eol=crlf
*.php		eol=crlf
*.ps1		eol=crlf
*.pubxml	eol=crlf
*.rgproj	eol=crlf
*.scpf		eol=crlf
*.sdc		eol=crlf
*.settings	eol=crlf
*.sln		eol=crlf
*.sql		eol=crlf
*.testsettings	eol=crlf
*.transform	eol=crlf
*.txt		eol=crlf
*.vsmdi		eol=crlf
*.dbproj  eol=crlf
*.xaml  eol=crlf
Properties/*.sql* eol=crlf

# Treat binary files as binary
*.dll		binary
*.gif		binary
*.jpg		binary
*.nupkg		binary
*.pdb		binary
*.png		binary
*.ssc		binary

# Treat Microsoft Office Documents as Binary Files
*.accda binary
*.accdb binary
*.accdc binary
*.accde binary
*.accdp binary
*.accdr binary
*.accdt binary
*.accdu binary
*.acl binary
*.ade binary
*.adp binary
*.asd binary
*.cnv binary
*.crtx binary
*.doc binary
*.docm binary
*.docx binary
*.dot binary
*.dotm binary
*.dotx binary
*.grv binary
*.iaf binary
*.laccdb binary
*.maf binary
*.mam binary
*.maq binary
*.mar binary
*.mat binary
*.mda binary
*.mdb binary
*.mde binary
*.mdt binary
*.mdw binary
*.mpd binary
*.mpp binary
*.mpt binary
*.oab binary
*.obi binary
*.oft binary
*.olm binary
*.one binary
*.onepkg binary
*.ops binary
*.ost binary
*.pa binary
*.pip binary
*.pot binary
*.potm binary
*.potx binary
*.ppa binary
*.ppam binary
*.pps binary
*.ppsm binary
*.ppsx binary
*.ppt binary
*.pptm binary
*.pptx binary
*.prf binary
*.pst binary
*.pub binary
*.puz binary
*.rpmsg binary
*.sldm binary
*.sldx binary
*.slk binary
*.snp binary
*.svd binary
*.thmx binary
*.vdx binary
*.vrge08message binary
*.vsd binary
*.vss binary
*.vst binary
*.vsx binary
*.vtx binary
*.wbk binary
*.wll binary
*.xar binary
*.xl binary
*.xla binary
*.xlam binary
*.xlb binary
*.xlc binary
*.xll binary
*.xlm binary
*.xls binary
*.xlsb binary
*.xlsm binary
*.xlsx binary
*.xlt binary
*.xltm binary
*.xltx binary
*.xlw binary
*.xsf binary
*.xsn binary
