<appSettings>
	<add key="CourseDescriptionHandler" value="Ctc.Ods.Customizations.DefaultCourseDescriptionStrategy"/>
	<add key="CurrentDate" value=""/>
	
	<!-- College-specific test values -->
	<add key="Testing_CommonCourseCharacter" value="&amp;"/>
	<add key="Testing_YearQuarterWithSections" value="B124"/>
	<add key="Testing_CourseIDOfferedEveryQuarter" value="MATH 099"/>
	<add key="Testing_CourseSubjectOfferedEveryQuarter" value="ART"/>
	<add key="Testing_ShortCourseSubject" value="CJ"/>
	<add key="Testing_ShortCourseSubjectNumber" value="101"/>
	<add key="Testing_WhereClauseForNonClasses" value=""/>
</appSettings>
